# DO not specify pandas version, so that pizza can work on python 3.9.

# Mac nix python 3.13 works

asyncpg

beautifulsoup4  # ~=4.0

black    # ~=24.0

cloudscraper

html5lib   # ~=1.1.0

lxml   #~=5.0

pandas

psycopg[binary, pool]

PySide6   # ~=6.8.0

pytest

pytest-asyncio

requests   # ~=2.0

schedule   # ~=1.2.0

selenium  # ~=4.2.0

selenium-stealth

tenacity

SQLAlchemy  # ~=2.0

webdriver-manager

wheel



##################
# CUSTOM MODULES #
##################

# -e means editable, any changes in dimsumpy and batterypy will reflect immediately

-e ../batterypy

-e ../dimsumpy

-e .    # install pizzapy; for pizzapy imports to work in tests/

