

beautifulsoup4==4.12

black

html5lib

lxml

pandas==2.0

psycopg[binary, pool]

psycopg2-binary  # For both Apple Silicon Mac and Intel Mac

PySide6==6.5

requests==2.31

schedule

SQLAlchemy

wheel



#cloudscraper

# selenium

