#  python3.11 works, python.12 does not
#

beautifulsoup4~=4.0

black

html5lib

lxml~=4.0

numpy~=2.1.0

pandas~=2.2.0

psycopg[binary, pool]

#psycopg2-binary  # For both Apple Silicon Mac and Intel Mac

PySide6~=6.5.0

requests~=2.0

schedule

SQLAlchemy

wheel




