# PIZZAPY  python3.11 works, python.12 does not
#psycopg2-binary  #  for both Apple Silicon Mac and Intel Mac, not sure if I need this lib anymore

beautifulsoup4~=4.0

black

html5lib

lxml~=4.0

pandas~=2.0.0

psycopg[binary, pool]

PySide6~=6.5.0

requests~=2.0

schedule

SQLAlchemy

wheel



